{% from "utils/macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><i
            class="medium material-icons">dashboard</i>{% block title %}{% endblock %}</a>
      </div>
    </nav>
  </header>
  <main>
    <div>
      <div class="row">
        {% block header %}{% endblock %}
        <section>
          {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
          {% endfor %}
          {% block content %}{% endblock %}
        </section>
      </div>
    </div>
  </main>
  <footer class="page-footer no-padding">
    <div class="footer-copyright">
      © 2020 Data Analytics Team
    </div>
  </footer>
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='data/uhf_crosswalk.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='data/incomes.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='data/uhf42.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='data/ntas.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/sunburst.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/sample.js') }}"></script>
</body>

</html>
